<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        
        <ui:define name="head">
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACxjYynTIX7ERT3ZHdCwY9HMWcYZ7hOHs"
            type="text/javascript"></script> 
        </ui:define>

        <p:dialog id="ClientesCreateDlg" widgetVar="ClientesCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateClientesTitle}">
            <h:form id="ClientesCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{clientesController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateClientesLabel_idCliente}" for="idCliente" />
                        <p:inputText id="idCliente" value="#{clientesController.selected.idCliente}" title="#{bundle.CreateClientesTitle_idCliente}" required="true" requiredMessage="#{bundle.CreateClientesRequiredMessage_idCliente}"/>
                        <p:outputLabel value="#{bundle.CreateClientesLabel_nombreCliente}" for="nombreCliente" />
                        <p:inputText id="nombreCliente" value="#{clientesController.selected.nombreCliente}" title="#{bundle.CreateClientesTitle_nombreCliente}" />
                        <p:outputLabel value="#{bundle.CreateClientesLabel_direccionCliente}" for="direccionCliente" />
                        <p:inputText id="direccionCliente" value="#{clientesController.selected.direccionCliente}" title="#{bundle.CreateClientesTitle_direccionCliente}" />
                        <p:outputLabel value="#{bundle.CreateClientesLabel_telefonoCliente}" for="telefonoCliente" />
                        <p:inputText id="telefonoCliente" value="#{clientesController.selected.telefonoCliente}" title="#{bundle.CreateClientesTitle_telefonoCliente}" />
                        <p:outputLabel value="Ubicación" for="btn" />
                        <p:commandButton id="btn" type="button" icon="ui-icon-pin-s" value="Mapa" onclick="PF('dlg').show();" />
                                                      
                    </p:panelGrid>
                    <p:commandButton actionListener="#{clientesController.create}" value="#{bundle.Save}" update="display,:ClientesListForm:datalist,:growl" oncomplete="handleSubmit(args,'ClientesCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" immediate="true" onclick="ClientesCreateDialog.hide()"/>
                    <h:inputHidden id="lat" value="#{clientesController.selected.floatlatitud}" />
                    <h:inputHidden id="lng" value="#{clientesController.selected.floatlongitud}"/>  
                </h:panelGroup>
 
            </h:form>
        </p:dialog>
        
        <p:dialog id="gmapDialog" widgetVar="dlg" width="625" height="400" modal="true" appendTo="@(body)" header ="localizar clientes">
            <p:growl id="messages" showDetail="true" life="2000" />    
            <p:gmap id="gmap" center="5.067036189119127,-75.4981651501589" zoom="15" type="ROADMAP" style="width:100%;height:400px" onPointClick="handlePointClick(event);" widgetVar="map">
                <p:ajax event="pointSelect" listener="#{clientesController.onPointSelect}" update="messages" />
            </p:gmap>               
        </p:dialog>           
        
        <script type="text/javascript">
            var currentMarker = null;

            function handlePointClick(event) {

                if (currentMarker === null) {
                    
                    document.getElementById('ClientesCreateForm:lat').value = event.latLng.lat();
                    document.getElementById('ClientesCreateForm:lng').value = event.latLng.lng();

                    currentMarker = new google.maps.Marker({
                        position: new google.maps.LatLng(event.latLng.lat(), event.latLng.lng())
                    });

                    PF('map').addOverlay(currentMarker);
                }
            }
        </script>        

    </ui:composition>
</html>
