<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        
        <ui:define name="head">
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACxjYynTIX7ERT3ZHdCwY9HMWcYZ7hOHs"
            type="text/javascript"></script> 
        </ui:define>        

        <p:dialog id="ClientesEditDlg" widgetVar="ClientesEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditClientesTitle}">
            <h:form id="ClientesEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{clientesController.selected != null}">
                        <p:outputLabel value="#{bundle.EditClientesLabel_idCliente}" for="idCliente" />
                        <p:inputText id="idCliente" value="#{clientesController.selected.idCliente}" title="#{bundle.EditClientesTitle_idCliente}" required="true" requiredMessage="#{bundle.EditClientesRequiredMessage_idCliente}"/>
                        <p:outputLabel value="#{bundle.EditClientesLabel_nombreCliente}" for="nombreCliente" />
                        <p:inputText id="nombreCliente" value="#{clientesController.selected.nombreCliente}" title="#{bundle.EditClientesTitle_nombreCliente}" />
                        <p:outputLabel value="#{bundle.EditClientesLabel_direccionCliente}" for="direccionCliente" />
                        <p:inputText id="direccionCliente" value="#{clientesController.selected.direccionCliente}" title="#{bundle.EditClientesTitle_direccionCliente}" />
                        <p:outputLabel value="#{bundle.EditClientesLabel_telefonoCliente}" for="telefonoCliente" />
                        <p:inputText id="telefonoCliente" value="#{clientesController.selected.telefonoCliente}" title="#{bundle.EditClientesTitle_telefonoCliente}" />
                    
                        <p:outputLabel value="Ubicación" for="btn" />
                        <p:commandButton id="btn" type="button" icon="ui-icon-pin-s" value="Mapa" onclick="PF('dlg').show();" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{clientesController.update}" value="#{bundle.Save}" update="display,:ClientesListForm:datalist,:growl" oncomplete="handleSubmit(args, 'ClientesEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ClientesEditDialog.hide()"/>
                    <h:inputHidden id="lat" value="#{clientesController.selected.floatlatitud}" />
                    <h:inputHidden id="lng" value="#{clientesController.selected.floatlongitud}"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>        
        
        <script type="text/javascript">
            var currentMarker = null;

            function handlePointClick(event) {

                if (currentMarker === null) {
                    
                    document.getElementById('ClientesEditForm:lat').value = event.latLng.lat();
                    document.getElementById('ClientesEditForm:lng').value = event.latLng.lng();

                    currentMarker = new google.maps.Marker({
                        position: new google.maps.LatLng(event.latLng.lat(), event.latLng.lng())
                    });

                    PF('map').addOverlay(currentMarker);
                }
            }
        </script>        
    </ui:composition>
</html>
