<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition template="/template.xhtml">
        <ui:define name="head">
             <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACxjYynTIX7ERT3ZHdCwY9HMWcYZ7hOHs" type="text/javascript"/>
        </ui:define>>
        
        <ui:define name="title">
            <h:outputText value="#{bundle.ListClientesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">           
            <h:form id="ClientesListForm">
                <p:panel header="#{bundle.ListClientesTitle}">
                    <p:dataTable id="datalist" value="#{clientesController.items}" var="item"
                                 selectionMode="single" selection="#{clientesController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idCliente}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListClientesTitle_idCliente}"/>
                            </f:facet>
                            <h:outputText value="#{item.idCliente}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListClientesTitle_nombreCliente}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombreCliente}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListClientesTitle_direccionCliente}"/>
                            </f:facet>
                            <h:outputText value="#{item.direccionCliente}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListClientesTitle_telefonoCliente}"/>
                            </f:facet>
                            <h:outputText value="#{item.telefonoCliente}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListClientesTitle_latitud}"/>
                            </f:facet>
                            <h:outputText value="#{item.floatlatitud}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListClientesTitle_longitud}"/>
                            </f:facet>
                            <h:outputText value="#{item.floatlongitud}"/>
                        </p:column>                        
                        
                        <f:facet name="footer">
                            <p:commandButton disabled="#{loginController.usuarioLogueado.idTipoUsuario.idTipoUsuario==3}" id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{clientesController.prepareCreate}" update=":ClientesCreateForm" oncomplete="PF('ClientesCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":ClientesViewForm" oncomplete="PF('ClientesViewDialog').show()" disabled="#{empty clientesController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":ClientesEditForm" oncomplete="PF('ClientesEditDialog').show()" disabled="#{empty clientesController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{clientesController.destroy}" update=":growl,datalist" disabled="#{empty clientesController.selected}">    
                            <p:confirm header="Confirmation" message="Desea Eliminar Este Registro?" icon="ui-icon-alert"/>                            
                            </p:commandButton>
                            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                <p:commandButton value="SI" type="button"  styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                <p:commandButton value="NO" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                            </p:confirmDialog>                               
                            <center>
                                <p:gmap center="5.076762, -75.519534" zoom="10" type="HYBRID" style="width:60%;height:300px" model="#{clientesController.simpleModel}" />
                            </center>    
                        </f:facet>
                    </p:dataTable>
                </p:panel>

            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>   
        </ui:define>
    </ui:composition>
</html>
