<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProductosCreateDlg" widgetVar="ProductosCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateProductosTitle}">
            <h:form id="ProductosCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{productosController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateProductosLabel_idProducto}" for="idProducto" />
                        <p:inputText id="idProducto" value="#{productosController.selected.idProducto}" title="#{bundle.CreateProductosTitle_idProducto}" required="true" requiredMessage="#{bundle.CreateProductosRequiredMessage_idProducto}"/>
                        <p:outputLabel value="#{bundle.CreateProductosLabel_descripcionProducto}" for="descripcionProducto" />
                        <p:inputText id="descripcionProducto" value="#{productosController.selected.descripcionProducto}" title="#{bundle.CreateProductosTitle_descripcionProducto}" />
                        <p:outputLabel value="#{bundle.CreateProductosLabel_precioProducto}" for="precioProducto" />
                        <p:inputText id="precioProducto" value="#{productosController.selected.precioProducto}" title="#{bundle.CreateProductosTitle_precioProducto}" />
                        <p:outputLabel value="#{bundle.CreateProductosLabel_idCategoria}" for="idCategoria" />
                        <p:selectOneMenu id="idCategoria" value="#{productosController.selected.idCategoria}" >
                            <f:selectItems value="#{categoriasController.itemsAvailableSelectOne}"
                                           var="idCategoriaItem"
                                           itemValue="#{idCategoriaItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateProductosLabel_idProveedor}" for="idProveedor" />
                        <p:selectOneMenu id="idProveedor" value="#{productosController.selected.idProveedor}" >
                            <f:selectItems value="#{proveedoresController.itemsAvailableSelectOne}"
                                           var="idProveedorItem"
                                           itemValue="#{idProveedorItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{productosController.create}" value="#{bundle.Save}" update="display,:ProductosListForm:datalist,:growl" oncomplete="handleSubmit(args,'ProductosCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" immediate="true" onclick="ProductosCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
