<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListProductosTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="ProductosListForm">
                <p:panel header="#{bundle.ListProductosTitle}">
                    <p:dataTable id="datalist" value="#{productosController.items}" var="item"
                                 selectionMode="single" selection="#{productosController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idProducto}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProductosTitle_idProducto}"/>
                            </f:facet>
                            <h:outputText value="#{item.idProducto}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProductosTitle_descripcionProducto}"/>
                            </f:facet>
                            <h:outputText value="#{item.descripcionProducto}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProductosTitle_precioProducto}"/>
                            </f:facet>
                            <h:outputText value="#{item.precioProducto}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProductosTitle_idCategoria}"/>
                            </f:facet>
                            <h:outputText value="#{item.idCategoria.toString()}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProductosTitle_idProveedor}"/>
                            </f:facet>
                            <h:outputText value="#{item.idProveedor.toString()}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton disabled="#{loginController.usuarioLogueado.idTipoUsuario.idTipoUsuario==3}" id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{productosController.prepareCreate}" update=":ProductosCreateForm" oncomplete="PF('ProductosCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":ProductosViewForm" oncomplete="PF('ProductosViewDialog').show()" disabled="#{empty productosController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":ProductosEditForm" oncomplete="PF('ProductosEditDialog').show()" disabled="#{empty productosController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{productosController.destroy}" update=":growl,datalist" disabled="#{empty productosController.selected}">
                            <p:confirm header="Confirmation" message="Desea Eliminar Este Registro?" icon="ui-icon-alert"/>                                                        
                            </p:commandButton>
                            <p:commandButton id="Button"   icon="ui-icon-head" value="Consulta Dinamica" update=":ProductosConsultaForm" oncomplete="PF('ProductosConsultaDialog').show()"/>                            
                            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                <p:commandButton value="SI" type="button"  styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                <p:commandButton value="NO" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                            </p:confirmDialog>                        
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
            <ui:include src="consultaDinamica.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
