<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProductosViewDlg" widgetVar="ProductosViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewProductosTitle}">
            <h:form id="ProductosViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{productosController.selected != null}">
                        <h:outputText value="#{bundle.ViewProductosLabel_idProducto}"/>
                        <h:outputText value="#{productosController.selected.idProducto}" title="#{bundle.ViewProductosTitle_idProducto}"/>
                        <h:outputText value="#{bundle.ViewProductosLabel_descripcionProducto}"/>
                        <h:outputText value="#{productosController.selected.descripcionProducto}" title="#{bundle.ViewProductosTitle_descripcionProducto}"/>
                        <h:outputText value="#{bundle.ViewProductosLabel_precioProducto}"/>
                        <h:outputText value="#{productosController.selected.precioProducto}" title="#{bundle.ViewProductosTitle_precioProducto}"/>
                        <h:outputText value="#{bundle.ViewProductosLabel_idCategoria}"/>
                        <h:outputText value="#{productosController.selected.idCategoria}" title="#{bundle.ViewProductosTitle_idCategoria}"/>
                        <h:outputText value="#{bundle.ViewProductosLabel_idProveedor}"/>
                        <h:outputText value="#{productosController.selected.idProveedor}" title="#{bundle.ViewProductosTitle_idProveedor}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="ProductosViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
