<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CategoriasCreateDlg" widgetVar="CategoriasCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateCategoriasTitle}">
            <h:form id="CategoriasCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{categoriasController.selected != null}">
                        
                        <p:outputLabel value="#{bundle.CreateCategoriasLabel_idCategoria}" for="idCategoria" />
                        <p:inputText id="idCategoria" value="#{categoriasController.selected.idCategoria}" title="#{bundle.CreateCategoriasTitle_idCategoria}" required="true" requiredMessage="#{bundle.CreateCategoriasRequiredMessage_idCategoria}"/>
                        
                        <p:outputLabel value="#{bundle.CreateCategoriasLabel_descripcionCategoria}" for="descripcionCategoria" />
                        <p:inputText id="descripcionCategoria" value="#{categoriasController.selected.descripcionCategoria}" title="#{bundle.CreateCategoriasTitle_descripcionCategoria}" />
                    
                    </p:panelGrid>
                    
                    <p:commandButton actionListener="#{categoriasController.create}" value="#{bundle.Save}" 
       update="display,:CategoriasListForm:datalist,:growl" oncomplete="handleSubmit(args,'CategoriasCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" immediate="true" onclick="CategoriasCreateDialog.hide()"/>
                
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
