<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CategoriasViewDlg" widgetVar="CategoriasViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewCategoriasTitle}">
            <h:form id="CategoriasViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{categoriasController.selected != null}">
                        <h:outputText value="#{bundle.ViewCategoriasLabel_idCategoria}"/>
                        <h:outputText value="#{categoriasController.selected.idCategoria}" title="#{bundle.ViewCategoriasTitle_idCategoria}"/>
                        <h:outputText value="#{bundle.ViewCategoriasLabel_descripcionCategoria}"/>
                        <h:outputText value="#{categoriasController.selected.descripcionCategoria}" title="#{bundle.ViewCategoriasTitle_descripcionCategoria}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="CategoriasViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
