<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../template.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="title">
        Consulta Dinamica
    </ui:define>

    <ui:define name="body">
        <h:form>
            <p:dataTable id="tbl" var="fila" value="#{reporteController.listaProductos}" emptyMessage="No se obtuvieron resultados"> 
                
                <p:column filterBy="#{fila[0]}" headerText="ID" filterMatchMode="contains">
                    <h:outputText value="#{fila[0]}" />
                </p:column>        
                
                <p:column filterBy="#{fila[1]}" headerText="Descripción" filterMatchMode="contains">
                    <h:outputText value="#{fila[1]}" />
                </p:column>

                <p:column filterBy="#{fila[2]}" headerText="Precio" filterMatchMode="contains">
                    <h:outputText value="#{fila[2]}"/>
                </p:column>                

                <p:column filterBy="#{fila[3]}" headerText="Categoria" filterMatchMode="contains">
                    <h:outputText value="#{fila[3]}" />
                </p:column>
                
                <p:column filterBy="#{fila[4]}" headerText="Proveedor" filterMatchMode="contains">
                    <f:facet name="filter">
                        <p:selectOneMenu onchange="PF('carsTable').filter()" >
                            <f:selectItem itemLabel="Seleccione Uno" itemValue="#{null}" noSelectionOption="true" />
                            <f:selectItems value="#{proveedoresController.items}" />
                        </p:selectOneMenu>
                    </f:facet>
                    <h:outputText value="#{fila[4]}" />
                </p:column>                
                
            </p:dataTable>

            
            <h:commandLink>
                <p:graphicImage url="./../img/excel.png" height="52" width="152" />
                <p:dataExporter type="xls" target="tbl" fileName="cars" pageOnly="true"/>
            </h:commandLink>

            <h:commandLink>
                <p:graphicImage url="./../img/pdf.png" height="52" width="52" />
                <p:dataExporter type="pdf" target="tbl" fileName="cars" pageOnly="true" />
            </h:commandLink>     
            
        </h:form>
    </ui:define>

</ui:composition>
