<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../template.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:define name="title">
        Productos X Proveedor
    </ui:define>

    <ui:define name="body">
        <p:dataTable var="fila" value="#{reporteController.listaProductosProveedor}">
            <p:column headerText="Producto">
                <h:outputText value="#{fila[0]}" />
            </p:column>

            <p:column headerText="Proveedor">
                <h:outputText value="#{fila[1]}" />
            </p:column>
        </p:dataTable>
        
        <p:chart type="pie" model="#{reporteController.pieModel1}" style="width:400px;height:300px" widgetVar="chart"/>
        
        <p:commandButton type="button" value="Exportar" icon="ui-icon-extlink" onclick="exportChart()"/>

        <p:dialog widgetVar="dlg" showEffect="fade" header="Click Derecho Para Guardar" resizable="false">
            <p:outputPanel id="output" layout="block" style="width:500px;height:300px"/>
        </p:dialog>
    
        <script type="text/javascript">
        function exportChart() {
            //export image
            $('#output').empty().append(PF('chart').exportAsImage());

            //show the dialog
            PF('dlg').show();
        }
        </script>          

    </ui:define>
 
    
</ui:composition>
