<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../template.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:define name="title">
        Productos X Categoria
    </ui:define>

    <ui:define name="body">
        <p:dataTable var="fila" value="#{reporteController.listaProductosCategoria}">
            <p:column headerText="Producto">
                <h:outputText value="#{fila[0]}" />
            </p:column>

            <p:column headerText="Categorias">
                <h:outputText value="#{fila[1]}" />
            </p:column>
        </p:dataTable>        
        
        <p:chart type="bar" model="#{reporteController.horizontalBarModel}" style="height:200px"/>
    </ui:define>

</ui:composition>
