<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TipoUsuarioCreateDlg" widgetVar="TipoUsuarioCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateTipoUsuarioTitle}">
            <h:form id="TipoUsuarioCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{tipoUsuarioController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateTipoUsuarioLabel_idTipoUsuario}" for="idTipoUsuario" />
                        <p:inputText id="idTipoUsuario" value="#{tipoUsuarioController.selected.idTipoUsuario}" title="#{bundle.CreateTipoUsuarioTitle_idTipoUsuario}" required="true" requiredMessage="#{bundle.CreateTipoUsuarioRequiredMessage_idTipoUsuario}"/>
                        <p:outputLabel value="#{bundle.CreateTipoUsuarioLabel_nombreTipoUsuario}" for="nombreTipoUsuario" />
                        <p:inputText id="nombreTipoUsuario" value="#{tipoUsuarioController.selected.nombreTipoUsuario}" title="#{bundle.CreateTipoUsuarioTitle_nombreTipoUsuario}" required="true" requiredMessage="#{bundle.CreateTipoUsuarioRequiredMessage_nombreTipoUsuario}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{tipoUsuarioController.create}" value="#{bundle.Save}" update="display,:TipoUsuarioListForm:datalist,:growl" oncomplete="handleSubmit(args,'TipoUsuarioCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="TipoUsuarioCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
