<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListTipoUsuarioTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="TipoUsuarioListForm">
                <p:panel header="#{bundle.ListTipoUsuarioTitle}">
                    <p:dataTable id="datalist" value="#{tipoUsuarioController.items}" var="item"
                                 selectionMode="single" selection="#{tipoUsuarioController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idTipoUsuario}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTipoUsuarioTitle_idTipoUsuario}"/>
                            </f:facet>
                            <h:outputText value="#{item.idTipoUsuario}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTipoUsuarioTitle_nombreTipoUsuario}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombreTipoUsuario}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton disabled="#{loginController.usuarioLogueado.idUsuario==3 or loginController.usuarioLogueado.idUsuario==2}" id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{tipoUsuarioController.prepareCreate}" update=":TipoUsuarioCreateForm" oncomplete="PF('TipoUsuarioCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":TipoUsuarioViewForm" oncomplete="PF('TipoUsuarioViewDialog').show()" disabled="#{empty tipoUsuarioController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":TipoUsuarioEditForm" oncomplete="PF('TipoUsuarioEditDialog').show()" disabled="#{empty tipoUsuarioController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{tipoUsuarioController.destroy}" update=":growl,datalist" disabled="#{empty tipoUsuarioController.selected}">
                            <p:confirm header="Confirmation" message="Desea Eliminar Este Registro?" icon="ui-icon-alert"/>                            
                            </p:commandButton>
                            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                <p:commandButton value="SI" type="button"  styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                <p:commandButton value="NO" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                            </p:confirmDialog>                        
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
