<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TipoUsuarioViewDlg" widgetVar="TipoUsuarioViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewTipoUsuarioTitle}">
            <h:form id="TipoUsuarioViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{tipoUsuarioController.selected != null}">
                        <h:outputText value="#{bundle.ViewTipoUsuarioLabel_idTipoUsuario}"/>
                        <h:outputText value="#{tipoUsuarioController.selected.idTipoUsuario}" title="#{bundle.ViewTipoUsuarioTitle_idTipoUsuario}"/>
                        <h:outputText value="#{bundle.ViewTipoUsuarioLabel_nombreTipoUsuario}"/>
                        <h:outputText value="#{tipoUsuarioController.selected.nombreTipoUsuario}" title="#{bundle.ViewTipoUsuarioTitle_nombreTipoUsuario}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="TipoUsuarioViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
