<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProveedoresCreateDlg" widgetVar="ProveedoresCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateProveedoresTitle}">
            <h:form id="ProveedoresCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{proveedoresController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateProveedoresLabel_idProveedor}" for="idProveedor" />
                        <p:inputText id="idProveedor" value="#{proveedoresController.selected.idProveedor}" title="#{bundle.CreateProveedoresTitle_idProveedor}" required="true" requiredMessage="#{bundle.CreateProveedoresRequiredMessage_idProveedor}"/>
                        <p:outputLabel value="#{bundle.CreateProveedoresLabel_nombreProvedor}" for="nombreProvedor" />
                        <p:inputText id="nombreProvedor" value="#{proveedoresController.selected.nombreProvedor}" title="#{bundle.CreateProveedoresTitle_nombreProvedor}" />
                        <p:outputLabel value="#{bundle.CreateProveedoresLabel_direccionProvedor}" for="direccionProvedor" />
                        <p:inputText id="direccionProvedor" value="#{proveedoresController.selected.direccionProvedor}" title="#{bundle.CreateProveedoresTitle_direccionProvedor}" />
                        <p:outputLabel value="#{bundle.CreateProveedoresLabel_telefonoProvedor}" for="telefonoProvedor" />
                        <p:inputText id="telefonoProvedor" value="#{proveedoresController.selected.telefonoProvedor}" title="#{bundle.CreateProveedoresTitle_telefonoProvedor}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{proveedoresController.create}" value="#{bundle.Save}" update="display,:ProveedoresListForm:datalist,:growl" oncomplete="handleSubmit(args,'ProveedoresCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" immediate="true" onclick="ProveedoresCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
