<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProveedoresEditDlg" widgetVar="ProveedoresEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditProveedoresTitle}">
            <h:form id="ProveedoresEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{proveedoresController.selected != null}">
                        <p:outputLabel value="#{bundle.EditProveedoresLabel_idProveedor}" for="idProveedor" />
                        <p:inputText id="idProveedor" value="#{proveedoresController.selected.idProveedor}" title="#{bundle.EditProveedoresTitle_idProveedor}" required="true" requiredMessage="#{bundle.EditProveedoresRequiredMessage_idProveedor}"/>
                        <p:outputLabel value="#{bundle.EditProveedoresLabel_nombreProvedor}" for="nombreProvedor" />
                        <p:inputText id="nombreProvedor" value="#{proveedoresController.selected.nombreProvedor}" title="#{bundle.EditProveedoresTitle_nombreProvedor}" />
                        <p:outputLabel value="#{bundle.EditProveedoresLabel_direccionProvedor}" for="direccionProvedor" />
                        <p:inputText id="direccionProvedor" value="#{proveedoresController.selected.direccionProvedor}" title="#{bundle.EditProveedoresTitle_direccionProvedor}" />
                        <p:outputLabel value="#{bundle.EditProveedoresLabel_telefonoProvedor}" for="telefonoProvedor" />
                        <p:inputText id="telefonoProvedor" value="#{proveedoresController.selected.telefonoProvedor}" title="#{bundle.EditProveedoresTitle_telefonoProvedor}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{proveedoresController.update}" value="#{bundle.Save}" update="display,:ProveedoresListForm:datalist,:growl" oncomplete="handleSubmit(args, 'ProveedoresEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ProveedoresEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
