<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProveedoresViewDlg" widgetVar="ProveedoresViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewProveedoresTitle}">
            <h:form id="ProveedoresViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{proveedoresController.selected != null}">
                        <h:outputText value="#{bundle.ViewProveedoresLabel_idProveedor}"/>
                        <h:outputText value="#{proveedoresController.selected.idProveedor}" title="#{bundle.ViewProveedoresTitle_idProveedor}"/>
                        <h:outputText value="#{bundle.ViewProveedoresLabel_nombreProvedor}"/>
                        <h:outputText value="#{proveedoresController.selected.nombreProvedor}" title="#{bundle.ViewProveedoresTitle_nombreProvedor}"/>
                        <h:outputText value="#{bundle.ViewProveedoresLabel_direccionProvedor}"/>
                        <h:outputText value="#{proveedoresController.selected.direccionProvedor}" title="#{bundle.ViewProveedoresTitle_direccionProvedor}"/>
                        <h:outputText value="#{bundle.ViewProveedoresLabel_telefonoProvedor}"/>
                        <h:outputText value="#{proveedoresController.selected.telefonoProvedor}" title="#{bundle.ViewProveedoresTitle_telefonoProvedor}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="ProveedoresViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
