<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="VentasEditDlg" widgetVar="VentasEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditVentasTitle}">
            <h:form id="VentasEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{ventasController.selected != null}">
                        <p:outputLabel value="#{bundle.EditVentasLabel_idVenta}" for="idVenta" />
                        <p:inputText id="idVenta" value="#{ventasController.selected.idVenta}" title="#{bundle.EditVentasTitle_idVenta}" required="true" requiredMessage="#{bundle.EditVentasRequiredMessage_idVenta}"/>
                        <p:outputLabel value="#{bundle.EditVentasLabel_cantidadVenta}" for="cantidadVenta" />
                        <p:inputText id="cantidadVenta" value="#{ventasController.selected.cantidadVenta}" title="#{bundle.EditVentasTitle_cantidadVenta}" />
                        <p:outputLabel value="#{bundle.EditVentasLabel_idFactura}" for="idFactura" />
                        <p:selectOneMenu id="idFactura" value="#{ventasController.selected.idFactura}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{facturasController.itemsAvailableSelectOne}"
                                           var="idFacturaItem"
                                           itemValue="#{idFacturaItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditVentasLabel_idProducto}" for="idProducto" />
                        <p:selectOneMenu id="idProducto" value="#{ventasController.selected.idProducto}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{productosController.itemsAvailableSelectOne}"
                                           var="idProductoItem"
                                           itemValue="#{idProductoItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{ventasController.update}" value="#{bundle.Save}" update="display,:VentasListForm:datalist,:growl" oncomplete="handleSubmit(args, 'VentasEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="VentasEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
