<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="VentasViewDlg" widgetVar="VentasViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewVentasTitle}">
            <h:form id="VentasViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{ventasController.selected != null}">
                        <h:outputText value="#{bundle.ViewVentasLabel_idVenta}"/>
                        <h:outputText value="#{ventasController.selected.idVenta}" title="#{bundle.ViewVentasTitle_idVenta}"/>
                        <h:outputText value="#{bundle.ViewVentasLabel_cantidadVenta}"/>
                        <h:outputText value="#{ventasController.selected.cantidadVenta}" title="#{bundle.ViewVentasTitle_cantidadVenta}"/>
                        <h:outputText value="#{bundle.ViewVentasLabel_idFactura}"/>
                        <h:outputText value="#{ventasController.selected.idFactura}" title="#{bundle.ViewVentasTitle_idFactura}"/>
                        <h:outputText value="#{bundle.ViewVentasLabel_idProducto}"/>
                        <h:outputText value="#{ventasController.selected.idProducto}" title="#{bundle.ViewVentasTitle_idProducto}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="VentasViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
