<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UsuarioCreateDlg" widgetVar="UsuarioCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateUsuarioTitle}">
            <h:form id="UsuarioCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{usuarioController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateUsuarioLabel_idUsuario}" for="idUsuario" />
                        <p:inputText id="idUsuario" value="#{usuarioController.selected.idUsuario}" title="#{bundle.CreateUsuarioTitle_idUsuario}" required="true" requiredMessage="#{bundle.CreateUsuarioRequiredMessage_idUsuario}"/>
                        <p:outputLabel value="#{bundle.CreateUsuarioLabel_correoUsuario}" for="correoUsuario" />
                        <p:inputText id="correoUsuario" value="#{usuarioController.selected.correoUsuario}" title="#{bundle.CreateUsuarioTitle_correoUsuario}" required="true" requiredMessage="#{bundle.CreateUsuarioRequiredMessage_correoUsuario}"/>
                        <p:outputLabel value="#{bundle.CreateUsuarioLabel_nombreUsuario}" for="nombreUsuario" />
                        <p:inputText id="nombreUsuario" value="#{usuarioController.selected.nombreUsuario}" title="#{bundle.CreateUsuarioTitle_nombreUsuario}" required="true" requiredMessage="#{bundle.CreateUsuarioRequiredMessage_nombreUsuario}"/>
                        <p:outputLabel value="#{bundle.CreateUsuarioLabel_passwordUsuario}" for="passwordUsuario" />
                        <p:inputText id="passwordUsuario" value="#{usuarioController.selected.passwordUsuario}" title="#{bundle.CreateUsuarioTitle_passwordUsuario}" required="true" requiredMessage="#{bundle.CreateUsuarioRequiredMessage_passwordUsuario}"/>
                        <p:outputLabel value="#{bundle.CreateUsuarioLabel_idTipoUsuario}" for="idTipoUsuario" />
                        <p:selectOneMenu id="idTipoUsuario" value="#{usuarioController.selected.idTipoUsuario}" required="true" requiredMessage="#{bundle.EditUsuarioRequiredMessage_idTipoUsuario}">
                            <f:selectItems value="#{tipoUsuarioController.itemsAvailableSelectOne}"
                                           var="idTipoUsuarioItem"
                                           itemValue="#{idTipoUsuarioItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{usuarioController.create}" value="#{bundle.Save}" update="display,:UsuarioListForm:datalist,:growl" oncomplete="handleSubmit(args,'UsuarioCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="UsuarioCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
