<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="FacturasEditDlg" widgetVar="FacturasEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditFacturasTitle}">
            <h:form id="FacturasEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{facturasController.selected != null}">
                        <p:outputLabel value="#{bundle.EditFacturasLabel_idFactura}" for="idFactura" />
                        <p:inputText id="idFactura" value="#{facturasController.selected.idFactura}" title="#{bundle.EditFacturasTitle_idFactura}" required="true" requiredMessage="#{bundle.EditFacturasRequiredMessage_idFactura}"/>
                        <p:outputLabel value="#{bundle.EditFacturasLabel_fechaFactura}" for="fechaFactura" />
                        <p:calendar id="fechaFactura" pattern="MM/dd/yyyy" value="#{facturasController.selected.fechaFactura}" title="#{bundle.EditFacturasTitle_fechaFactura}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.EditFacturasLabel_idCliente}" for="idCliente" />
                        <p:selectOneMenu id="idCliente" value="#{facturasController.selected.idCliente}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{clientesController.itemsAvailableSelectOne}"
                                           var="idClienteItem"
                                           itemValue="#{idClienteItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{facturasController.update}" value="#{bundle.Save}" update="display,:FacturasListForm:datalist,:growl" oncomplete="handleSubmit(args, 'FacturasEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="FacturasEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
