<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="FacturasViewDlg" widgetVar="FacturasViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewFacturasTitle}">
            <h:form id="FacturasViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{facturasController.selected != null}">
                        <h:outputText value="#{bundle.ViewFacturasLabel_idFactura}"/>
                        <h:outputText value="#{facturasController.selected.idFactura}" title="#{bundle.ViewFacturasTitle_idFactura}"/>
                        <h:outputText value="#{bundle.ViewFacturasLabel_fechaFactura}"/>
                        <h:outputText value="#{facturasController.selected.fechaFactura}" title="#{bundle.ViewFacturasTitle_fechaFactura}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewFacturasLabel_idCliente}"/>
                        <h:outputText value="#{facturasController.selected.idCliente}" title="#{bundle.ViewFacturasTitle_idCliente}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="FacturasViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
