<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        Hello from Facelets
        <br />
        <h:link outcome="welcomePrimefaces" value="Primefaces welcome page" />
        <br />
        <h:link outcome="/categorias/List" value="Show All Categorias Items"/>
        <br />
        <h:link outcome="/clientes/List" value="Show All Clientes Items"/>
        <br />
        <h:link outcome="/facturas/List" value="Show All Facturas Items"/>
        <br />
        <h:link outcome="/productos/List" value="Show All Productos Items"/>
        <br />
        <h:link outcome="/proveedores/List" value="Show All Proveedores Items"/>
        <br />
        <h:link outcome="/ventas/List" value="Show All Ventas Items"/>
        <br />
        <h:link outcome="/tipoUsuario/List" value="Show All TipoUsuario Items"/>
        <br />
        <h:link outcome="/usuario/List" value="Show All Usuario Items"/>
    </h:body>








</html>

