<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Inicio</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <link type="text/css" rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/css/materialize.min.css"  media="screen,projection"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACxjYynTIX7ERT3ZHdCwY9HMWcYZ7hOHs" 
                            type="text/javascript"></script>
        <!--<META HTTP-EQUIV="refresh" CONTENT="15"></META>-->
        
    </h:head>
    
    <h:body> 
        <h:form>
            
            <p:growl id="pgErrores"/> <!-- para poder que salgan los mensajes de las cajas de tecto-->
            <p:panel>
                    <div class="card-panel indigo lighten-1"><center><h6>Empresa Ventas</h6></center></div>                        
                
                    <!--<p:contentFlow value="#{imagesView.images}" var="image">
                    <p:graphicImage name="images/#{image}" styleClass="content" />-->
                    <!--<div class="caption">#{image}</div>-->
                    <!--</p:contentFlow>-->
                    <center>
                    <p:gmap center="5.076762, -75.519534" zoom="17" type="HYBRID" style="width:70%;height:300px" />
                    </center>
                    

                    <div class="container">                    
                        <div class="indigo lighten-1">  
                            <div class="row">    
                            <div class="col s4 offset-s2">
                            <p:outputLabel for="pitUsuario" value="#{bundle.boton_login}"/>
                            <p:inputText id="pitUsuario" maxlength="20" required="true" value="#{loginController.login}"/>
                            </div>
                            <div class="col s4">
                            <p:outputLabel for="pitContraseña" value="#{bundle.boton_password}"/>
                            <p:password id="pitContraseña" required="true" value="#{loginController.password}"/>                                  
                            </div>
                            </div>    
                        </div>    
                    </div>
                
                    <p:growl id="messages" />
                    
                    <div class="container"> 
                    <div class="row">
                        <div class="col s6 offset-s5">
                            <p:splitButton value="#{bundle.boton1}" action="#{loginController.autenticarUsuario()}" update="@all" icon="ui-icon-disk">
                                <redirect />
                                <p:menuitem value="#{bundle.boton1_opc1}" url="http://www.google.com" icon="ui-icon-arrowrefresh-1-w" />
                                <p:separator />
                                <p:menuitem value="#{bundle.boton1_opc2}" url="http://www.umanizales.edu.co" icon="ui-icon-arrowrefresh-1-w" />
                            </p:splitButton>                
                            <!--<p:commandButton value="Ingresar" action="acceder" update="@all"/>-->                
                        </div>
                    </div>
                    </div>      
                    
                    <div class="row">
                        <div class="col s2 offset-s5">
                            <h:outputLink value="#{loginController.obtenerConexionFb}">                               
                                <h:graphicImage class="responsive-img" url="/img/facebookloginbutton2.png"></h:graphicImage>
                            </h:outputLink>
                            
                        </div>
                    </div>                        
                    
            </p:panel>                              
        </h:form>
        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/js/materialize.min.js"></script>
    </h:body>
</html>