<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>    
        <title><ui:insert name="title">Default Title</ui:insert></title>
        <h:outputStylesheet library="css" name="jsfcrud.css"/>
        <h:outputScript library="js" name="jsfcrud.js"/>
        <ui:insert name="head"/>
    </h:head>

    <h:body>
        <p:growl id="growl" life="3000" />

        <p:layout fullPage="true" >
            <p:layoutUnit position="north" size="65" header="#{bundle.AppName}">
                <h:form id="menuForm">
                    <p:menubar>
                        <p:menuitem value="#{bundle.Home}" outcome="/index" icon="ui-icon-home"/>
                        <p:submenu label="#{bundle.Maintenance}">
                            <p:menuitem rendered="#{loginController.usuarioLogueado.idTipoUsuario.idTipoUsuario==1}" value="Categorias" outcome="/categorias/List.xhtml" />
                            <p:menuitem value="Clientes" outcome="/clientes/List.xhtml" />
                            <p:menuitem value="Facturas" outcome="/facturas/List.xhtml" />
                            <p:menuitem value="Productos" outcome="/productos/List.xhtml" />
                            <p:menuitem value="Proveedores" outcome="/proveedores/List.xhtml" />
                            <p:menuitem value="Ventas" outcome="/ventas/List.xhtml" />
                            <p:menuitem rendered="#{loginController.usuarioLogueado.idTipoUsuario.idTipoUsuario!=3}" value="Usuarios" outcome="/usuario/List.xhtml" />
                            <p:menuitem rendered="#{loginController.usuarioLogueado.idTipoUsuario.idTipoUsuario!=3}" value="Tipo Usuarios" outcome="/tipoUsuario/List.xhtml" />
                        </p:submenu>
                        <p:submenu label="#{bundle.reports}">
                            <p:menuitem value="Productos VS Cantidad" outcome="/reportes/productosPrecios.xhtml"/>
                            <p:menuitem value="Productos X Proveedor" outcome="/reportes/productosProveedor.xhtml"/>
                            <p:menuitem value="Productos X Categoria" outcome="/reportes/productosCategoria.xhtml"/>
                            <p:menuitem value="Consulta Dinamica" outcome="/reportes/consulta.xhtml"/>
                        </p:submenu>
                        <p:menuitem value="#{loginController.usuarioLogueado.correoUsuario}"/>
                        <p:menuitem action="#{loginController.cerrarSesion()}">Cerrar Sesión</p:menuitem>
                    </p:menubar>
                </h:form>
            </p:layoutUnit>

            <p:layoutUnit position="south" size="60">
                <ui:insert name="footer"/>
            </p:layoutUnit>

            <p:layoutUnit position="center">
                <ui:insert name="body"/>
            </p:layoutUnit>

        </p:layout>
 
    </h:body>
    <!--
    <h:panelGroup rendered="#{loginController.usuarioLogueado==null}">
            <h:outputLabel><center><h1>Ni lo intente no sirve, sin login</h1></center></h:outputLabel>            
    </h:panelGroup>
    -->
</html>
